services:
  postgres:
    image: postgres:latest
    container_name: postgres
    restart: unless-stopped

    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}

    ports:
      - "5432:5432"

    volumes:
      - data:/var/lib/postgresql
      - ./init.sh:/docker-entrypoint-initdb.d/init.sh:ro

    networks:
      - web

volumes:
  postgres_data:

networks:
  web:
    external: true
